<extend name="Layout:base"/>
    <block name="content">
    <div id="mycarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
            <li data-target="#mycarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background:#CDCCC8"><img src="__PUBLIC__/Home/images/33.jpg" style="height:400px;"></div>
            <div class="item" style="background:#000000"><img src="__PUBLIC__/Home/images/p-img-1.jpg"style="height:400px;"></div>
            <div class="item " style="background:"><img src="__PUBLIC__/Home/images/tree.jpg" style="height:400px;"/></div>
            <div class="item " style="background:#07102F"><img src="__PUBLIC__/Home/images/stars3.jpg" style="height:400px;" /></div>
        </div>
        <a href="#mycarousel" data-slide="prev" class="carousel-control left carousel-left"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a href="#mycarousel" data-slide="next" class="carousel-control right carousel-right"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

    <div class="tab1">
        <div class="container">
            <h2 class="tab-h2">[芒果社区服务内容]</h2>
            <p class="tab-p">芒果社区致力于服务城镇各大小区，为各小区提供方便快捷的服务！</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#mserver"><img src="__PUBLIC__/Home/images/list.png"/></a>
                        </div>
                        <div class="media-body">
                            <h4 class="meida-heading">社区服务</h4>
                            <p class="meida-text">水电缴纳，家电维护，家装设计，家政服务，亲子教育等等，提供全方位的社区服务！</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                            <div class="media-left">
                                <a href="#mshop"><img src="__PUBLIC__/Home/images/shop.png" style="width:96px;" /></a>
                            </div>
                            <div class="media-body">
                                <h4 class="meida-heading">社区商城</h4>
                                <p class="text-muted">提供小区生活必须物品购买渠道，便捷生活购物！</p>
                            </div>
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                            <div class="media-left">
                                <a href="#msqure"><img src="__PUBLIC__/Home/images/folder.png" style="width:96px;" /></a>
                            </div>
                            <div class="media-body">
                                <h4 class="meida-heading">社区广场</h4>
                                <p class="meida-text">不定时组织小区活动，亲子教育，社团旅行，资讯发布等，打造家园社区!</p>
                            </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                            <div class="media-left" >
                                <a href="#other"><img src="__PUBLIC__/Home/images/other.png" style="width:96px;"/></a>
                            </div>
                            <div class="media-body">
                            <h4 class="meida-heading">其他</h4>
                            <p class="meida-text">社区互助，社区论坛，社区二手物品买卖，赠送,门面转让等</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 tab2-text" id="mserver">
                    <h3><a href="<?php echo U('/mserver')?>">社区服务内容</a></h3>
                    <p><a href="<?php echo U('/mserver')?>">生活缴费,物流,家政(洗护、保洁、搬家等),车辆维修、保养，老旧物品回收,家装设计等，小区服务全套配备</a></p>
                </div>
                <div class="col-md-6">
                    <a href="<?php echo U('/mserver')?>"><img src="__PUBLIC__/Home/images/book.jpg" class="img-responsive"/></a>
                </div>
            </div>
        </div>
    </div>

      <div class="tab3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="<?php echo U('/msqure')?>"><img src="__PUBLIC__/Home/images/img1.jpg" class="img-responsive"/></a>
                </div>
                <div class="col-md-6 tab3-text" id="msqure">
                    <h3><a href="<?php echo U('/msqure')?>">社区广场介绍</a></h3>
                    <p><a href="<?php echo U('/msqure')?>">社区各商家最新活动资讯，小区最新服务政策，小区最新组织活动，小区活跃论坛介绍，交友互助活动，创业兼职等</a></p>
                </div>
            </div>
        </div>
    </div>
      <div class="tab2">
        <div class="container">
            <div class="row" >
                <div class="col-md-6 tab2-text" id="mshop">
                    <h3><a href="<?php echo U('/mshop')?>">社区商城简介</a></h3>
                    <p><a href="<?php echo U('/mshop')?>">提供外卖，生鲜，OTO商超购物，家装设计，二手市场买卖···</a></p>
                </div>
                <div class="col-md-6">
                    <a href="<?php echo U('/mshop')?>"><img src="__PUBLIC__/Home/images/33.jpg" class="img-responsive"/></a>
                </div>
            </div>
        </div>
    </div>
      <div class="tab3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="<?php echo U('/other')?>"><img src="__PUBLIC__/Home/images/img1.jpg" class="img-responsive"/></a>
                </div>
                <div class="col-md-6 tab3-text" id="other">
                    <h3><a href="<?php echo U('/other')?>">其他</a></h3>
                    <p><a href="<?php echo U('/other')?>">社区投资合作，社区教育讯息，社区教育资源合集，社区论坛···</a></p>
                </div>
            </div>
        </div>
    </div>
    </block>

    <block name="footer">
    <footer id="footer">
        <div class="container">
            <p>Super-powered by Google ©2010-2016</p>
            <p>芒果社区版权所有 如有需要请email至spicahuhu@163.com</p>
        </div>
    </footer>
    </block>

<script src="__PUBLIC__/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function(){
        // var imgh = $('.carousel-inner img').height() + 70;
        // $('.carousel-control').css('line-height',imgh+'px');
        // $(window).resize(function(){
        //     var iheight = $('.carousel-inner img').eq(0).height() || $('.carousel-inner img').eq(1).height() || $('.carousel-inner img').eq(2).height() || $('.carousel-inner img').eq(3).height();
        //      $('.carousel-control').css('line-height',iheight+70+'px');
        // });
        $('#mycarousel').carousel({
            interval:4000,
            });
    });

</script>
</body>
</html>