<extend name="Layout:base"/>

<block name="content">
    <div class="container other-ban">
        <div class="other-ban-h">
            <h4>板块中心</h4>
            <hr style="margin:10px 0;">
            <div class="row ">
                <div class="col-md-2 other-y">
                    <span >娱乐八卦<span class="other-notice">(12)</span></span>
                </div>
                <div class="col-md-2 other-y">
                    <span >球迷一家<span class="other-notice">(33)</span></span>
                </div>
                <div class="col-md-2 other-y">
                    <span>数码科技<span class="other-notice">(2)</span></span>
                </div>
                <div class="col-md-2 other-y">
                    <span>汽车板块<span class="other-notice">(1)</span></span>
                </div>
                <div class="col-md-2 other-y">
                    <span>情感天地<span class="other-notice">(36)</span></span>
                </div>
                <div class="col-md-2 other-y">
                    <span>职业交流<span class="other-notice">(20)</span></span>
                </div>
                <div class="col-md-2 other-y">
                    <span>咨询问答<span class="other-notice">(52)</span></span>
                </div>
                <div class="col-md-2 other-y">
                    <span>舞文弄墨<span class="other-notice">(28)</span></span>
                </div>
                <div class="col-md-2 other-y">
                    <span>股市论坛<span class="other-notice">(16)</span></span>
                </div>
                <div class="col-md-2 other-y">
                    <span>政治军事<span class="other-notice">(23)</span></span>
                </div>
                <div class="col-md-2 other-y">
                    <span>其他<span class="other-notice">(19)</span></span>
                </div>
            </div>
        </div>

        <div class="row other-pub">
            <div class="btn-group other-p">
                <button type="button" class="btn btn-success">发帖</button>
            </div>
            <div class="input-group" style="width:40%;float:left;margin-left:220px;">
                <input type="text" class="form-control" placeholder="请输入搜索内容">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            </div>
            <div class="btn-group btn-group-sm other-login">
                <button type="button" class="btn btn-default btn-default">登录</button>
                <button type="button" class="btn btn-default btn-info">注册</button>
            </div>
        </div>

        <div class="other-content" style="margin:0 auto;padding-top:20px;">
            <table class="table table-bordered table-hover" style="margin-bottom:0;border:1px solid #428BCA;border-color:#4288CA;">
                <thead>
                    <tr class="success">
                        <th>主题</th>
                        <th style="text-align:center;">板块</th>
                        <th style="text-align:center;">作者</th>
                        <th style="text-align:center;">回帖</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="other-cc ">
                        <td><a href="<?php echo U('Other/Content');?>">“快克杯”天涯社区18周年人物盛典财经分区评选</a></td>
                        <td><a href="#">股市论坛</a></td>
                        <td><a href="#">小妮米</a></td>
                        <td><a href="#">33</a></td>
                    </tr>
                    <tr class="other-cc">
                        <td><a href="#">经历完小鲜肉旋风以后，现在偶像剧男主越来越吃藕了？</a></td>
                        <td><a href="#">情感天地</a></td>
                        <td><a href="#">小妮米</a></td>
                        <td><a href="#">33</a></td>
                    </tr>
                    <tr class="other-cc">
                        <td><a href="#">车友会交规大全</a></td>
                        <td><a href="#">汽车板块</a></td>
                        <td><a href="#">小妮米</a></td>
                        <td><a href="#">33</a></td>
                    </tr>
                    <tr class="other-cc">
                        <td><a href="#">老残杂忆·两个时代的工资物价之比较</a></td>
                        <td><a href="#">其他</a></td>
                        <td><a href="#">地米</a></td>
                        <td><a href="#">33</a></td>
                    </tr>
                    <tr class="other-cc">
                        <td><a href="#">27岁转行做会计，谨以此贴记录个人经历！</a></td>
                        <td><a href="#">职业交流</a></td>
                        <td><a href="#">小妮米</a></td>
                        <td><a href="#">33</a></td>
                    </tr>
                    <tr class="other-cc">
                        <td><a href="#">给股海中迷茫的朋友一些帮助：亏损和无法持续获利，可能与技术无关</a></td>
                        <td><a href="#">股市论坛</a></td>
                        <td><a href="#">小妮米</a></td>
                        <td><a href="#">33</a></td>
                    </tr><tr class="other-cc">
                        <td><a href="#">蔡英文民调满意度回升至50.6％，陆陆玻璃心碎。</a></td>
                        <td><a href="#">政治军事</a></td>
                        <td><a href="#">小妮米</a></td>
                        <td><a href="#">33</a></td>
                    </tr>
                    <tr class="other-cc">
                        <td><a href="#">相亲了个慢热型的大龄女人，20都天了从不主动联系我</a></td>
                        <td><a href="#">情感天地</a></td>
                        <td><a href="#">小妮米</a></td>
                        <td><a href="#">33</a></td>
                    </tr>
                    <tr class="other-cc">
                        <td><a href="#">经历完小鲜肉旋风以后，现在偶像剧男主越来越吃藕了？</a></td>
                        <td><a href="#">娱乐八卦</a></td>
                        <td><a href="#">小妮米</a></td>
                        <td><a href="#">33</a></td>
                    </tr>
                    <tr class="other-cc">
                        <td><a href="#">车友会交规大全</a></td>
                        <td><a href="#">数码科技</a></td>
                        <td><a href="#">小妮米</a></td>
                        <td><a href="#">33</a></td>
                    </tr>
                    <tr class="other-cc">
                        <td><a href="#">老残杂忆·两个时代的工资物价之比较</a></td>
                        <td><a href="#">小妮米</a></td>
                        <td><a href="#">小妮米</a></td>
                        <td><a href="#">33</a></td>
                    </tr>
                     </tr><tr class="other-cc">
                        <td><a href="#">蔡英文民调满意度回升至50.6％，陆陆玻璃心碎。</a></td>
                        <td><a href="#">政治军事</a></td>
                        <td><a href="#">凤凰娱乐</a></td>
                        <td><a href="#">33</a></td>
                    </tr>
                    <tr class="other-cc">
                        <td><a href="#">相亲了个慢热型的大龄女人，20都天了从不主动联系我</a></td>
                        <td><a href="#">情感天地</a></td>
                        <td><a href="#">大神</a></td>
                        <td><a href="#">33</a></td>
                    </tr>
                     <tr class="other-cc">
                        <td><a href="#">老残杂忆·两个时代的工资物价之比较</a></td>
                        <td><a href="#">小妮米</a></td>
                        <td><a href="#">小妮米</a></td>
                        <td><a href="#">33</a></td>
                    </tr>
                    <tr class="other-cc">
                        <td><a href="#">“快克杯”天涯社区18周年人物盛典财经分区评选</a></td>
                        <td><a href="#">股市论坛</a></td>
                        <td><a href="#">小妮米</a></td>
                        <td><a href="#">33</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</block>

<block name="footer">
    <footer id="footer">
        <div class="container">
            <p>Super-powered by Google ©2010-2016</p>
            <p>芒果社区版权所有 如有需要请email至spicahuhu@163.com</p>
        </div>
    </footer>
</block>