<extend name="Layout:base"/>


<block name="content">
    <div class="container mserver-list">
        <div class="row">
            <div class="col-md-3 menu-fee">
                <h4>便民缴费</h4>
                <div class="menu-l">
                    <ul>
                        <li class="item-li"><a href=""><span class="item-fee">水电煤缴费</span></a></li>
                        <li class="item-li"><a href=""><span class="item-fee">手机充值</span></a></li>
                        <li class="item-li"><a href=""><span class="item-fee">物业缴费</span></a></li>
                        <li class="item-li"><a href=""><span class="item-fee">交通违章</span></a></li>
                        <li class="item-li"><a href=""><span class="item-fee">有线电视缴费</span></a></li>
                        <li class="item-li"><a href=""><span class="item-fee">网络缴费</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="nav-text">
                    <h3>水电煤缴费 <span class="notice">24小时服务，免手续费</span></h3>
                    <span class="links"><a href="">缴费记录查看</a></span>
                </div>
                <div class="fee-content">
                    <div class="fee-location">
                        <span class="location">所在城市 <input type="text" id="cityinput"> <span class="notice">可直接输入城市拼音</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>