<extend name="Layout:base"/>


<block name="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 menu-fee">
                <h4>便民缴费</h4>
                <div class="menu-l">
                    <ul>
                        <li><a href=""><span class="item-fee">水电煤缴费</span></a></li>
                        <li><a href=""><span class="item-fee">手机充值</span></a></li>
                        <li><a href=""><span class="item-fee">物业缴费</span></a></li>
                        <li><a href=""><span class="item-fee">交通违章</span></a></li>
                        <li><a href=""><span class="item-fee">有线电视缴费</span></a></li>
                        <li><a href=""><span class="item-fee">网络缴费</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="nav-text">
                    <h3>水电煤缴费</h3>
                    <span class="links">缴费记录</span>
                </div>
                <div class="">

                </div>
            </div>
        </div>
    </div>
</block>