<extend name="Layout:base" />

<block name="content">
<div class="HLM_mintop">
    <div class="img-h">
    <p class="img-text">万家灯火</p>
    <p class="img-text img-text-p">万里相思</p>
    </div>
</div>
    <div class="container mserver-list">
        <div class="mserver-c">
            [社区服务内容]
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="__PUBLIC__/Home/images/list.png" class="img-response" width="70px;"/>
                <p class="mserver-p">水电、物业费用缴纳</p>
            </div>
            <div class="col-md-2">
             <img src="__PUBLIC__/Home/images/shop.png" class="img-response" width="70px;"/>
                <p class="mserver-p">快递上门</p>
            </div>
            <div class="col-md-2">
             <img src="__PUBLIC__/Home/images/folder.png" class="img-response" width="70px;"/>
                <p class="mserver-p">家政(洗护保洁，护理，搬家等)</p>
            </div>
            <div class="col-md-2">
             <img src="__PUBLIC__/Home/images/list.png" class="img-response" width="70px;"/>
                <p class="mserver-p">家电维修，回收</p>
            </div>
            <div class="col-md-2">
             <img src="__PUBLIC__/Home/images/folder.png" class="img-response" width="70px;"/>
                <p class="mserver-p">家装设计</p>
            </div>
            <div class="col-md-2">
             <img src="__PUBLIC__/Home/images/list.png" class="img-response" width="70px;"/>
                <p class="mserver-p">其他</p>
            </div>
        </div>
        <div class="row mserver-news">
            <div class="mserver-c">
                [社区资讯]
            </div>
            <div class="col-md-6">
                <h4>芒果社区上线啦！</h4>
                <p>芒果社区新鲜上线，福利优惠大放送，服务多多，享受多多！</p>
            </div>
            <div class="col-md-6">
            <h4>2016长沙车展正式开幕，多款SUV上市亮相</h4>
                <p> 近日，梅赛德斯-奔驰宣布，进口奔驰E级敞篷灵动版上市，新车共推2款车型，其售价区间为71.90-85.30万元。具体售价详见下表：奔...</p>
            </div>
            <div class="col-md-6">
                <h4>G20杭州峰会达成5项共识</h4>
                <p>我们用了一天半的时间，围绕会议主题和重点议题进行了热烈而富有成果的讨论，就加强政策协调、创新增长方式，全球经济金融治理，国际贸易和投资，包容和联动式发展等议题，以及影响世界经济的其他突出问题，深入交换看法，达成许多重要共识。</p>
            </div>
            <div class="col-md-6">
            <h4>杨国强：个人主义与社会主义的此消彼长</h4>
                <p> 1919年的五四运动改变了新文化运动的历史环境，并因此而改变了作为一种思想潮流的新文化运动本身。而后是两者都会影响原本能以一面之理自立其说的个人主义。五四运动因巴黎和会中国外交失败而起。但这个过程实际上所带来的已是民国历史的一种显然转折。民国初年盛行的“崇洋主义”...</p>
            </div>
            <div class="col-md-6">
                <h4>环保股暴涨原因揭秘：多利好形成合力 行情来了？</h4>
                <p>盘中环保板块持续高歌猛进，伟明环保、中电环保[9.98% 资金 研报]涨停，科融环境涨9.07%、万邦达[6.84% 资金 研报]涨8.57%、先河环保[6.13% 资金 研报]涨7.34%、巴安水务[8.03% 资金 研报]涨7.15%...</p>
            </div>
            <div class="col-md-6">
            <h4>为无人驾驶汽车做准备 日本政府开发高清3D地图</h4>
                <p> 北京时间9月6日消息，据《日本经济新闻》报道称，从今年9月开始，日本一家合资企业准备开发高清3地图，专门针对无人驾驶汽车，因为日本政府准备在2020年之前让无人驾驶汽车上路行驶。2020年夏季奥运会将会在东京举行...</p>
            </div>
        </div>
    </div>
</block>

<block name="footer">
    <footer id="footer">
        <div class="container">
            <p>Super-powered by Google ©2010-2016</p>
            <p>芒果社区版权所有 如有需要请email至spicahuhu@163.com</p>
        </div>
    </footer>
</block>
<block name="script-footer">
<script type="text/javascript">



</script>

</block>