<extend name="Layout:serverFeeMenu"/>
<block name="header">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/fee.css">
</block>

<block name="fee-content">
        <div class="nav-text">
            <h3 >手机充值</h3>
            <span class="notice">24小时服务，免手续费</span>
            <span class="links"><a href="#">历史充值记录</a></span>
            <span class="notice">客服电话: 400-800-1230</span>
        </div>
        <div class="fee-content">
            <div class="fee-c" >
                <form method="post" action="">
                    <dl class="dl-horizontal dt-style">
                    <dt>手机号: </dt>
                    <dd><input type="text" class="form-control" style="width:200px;" /></dd>
                    <dt>面值: </dt>
                    <dd><span class="btn btn-default price">30元</span><span class="btn btn-default price">50元</span><span class="btn btn-default price">100元</span><span class="btn btn-default price">200元</span><span class="btn btn-default price">500元</span><span class="btn btn-default price">1000元</span></dd>
                    <dt>价格: </dt>
                    <dd><span class="phone-price">29.90元</span></dd>
                    <dt> </dt>
                    <dd><input type="submit" class="btn btn-primary"/></dd>
                </form>
            </div>

        </div>

</block>

<block name="footer-script">
<script type="text/javascript">



</script>

</block>