<extend name="Layout:serverFeeMenu"/>

<block name="header">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/fee.css">
</block>

<block name="fee-content">
        <div class="nav-text">
            <h3 >个人社保</h3>
            <span class="notice">24小时服务，免手续费</span>
            <span class="links"><a href="#">缴费记录查看</a></span>
            <span class="notice">客服电话: 400-800-1230</span>
        </div>
        <div class="fee-content">
            <div class="fee-c" >


            </div>
        </div>

</block>