<extend name="Layout:base"/>

<block name="content">
    <div class="msqure-news">
        <p><marquee direction="left" behavior="scroll" contenteditable="true" onstart="this.firstChild.innerHTML+=this.firstChild.innerHTML;" scrollamount="3"  onmouseover="this.stop();" onmouseout="this.start();">芒果社区开直播啦，快来关注哈！</marquee></p>
    </div>
    <div class="container mserver-list">
        <div class="row msqure-c">
        <div class="col-md-4 ">
            <img src="__PUBLIC__/Home/images/msqure/activity.png" class="pull-left"/>
            <div class="act-h">
                <p>最新活动</p>
                <ul>
                    <li><a href="#">新学期公告</a></li>
                    <li><a href="#">西饼店中秋特惠</a></li>
                    <li><a href="#">门口艾丽萨摄影有新活动啦！</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 ">
        <img src="__PUBLIC__/Home/images/msqure/information.png"  class="pull-left"/>
            <div class="act-h">
                <p>教育资讯</p>
                <ul>
                    <li><a href="#">星空琴行招培训生</a></li>
                    <li><a href="#">国画班零基础入门体验课开始啦!</a></li>
                    <li><a href="#">高中家教招聘，欢迎广大小区民众应聘！</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
        <img src="__PUBLIC__/Home/images/msqure/friends.png" class="pull-left" />
            <div class="act-h">
                <p>相亲交友</p>
                <ul>
                    <li><a href="#">西北大学硕士生招女友</a></li>
                    <li><a href="#">成都游招同伴</a></li>
                    <li><a href="#">长白山徒步旅行开团啦！</a></li>
                </ul>
            </div>
        </div>
        </div>
        <div class="row msqure-c">
        <div class="col-md-4">
        <img src="__PUBLIC__/Home/images/msqure/travel.png" class="pull-left" />
            <div class="act-h">
                <p>去哪玩</p>
                <ul>
                    <li><a href="#">西北大学硕士生招女友</a></li>
                    <li><a href="#">成都游招同伴</a></li>
                    <li><a href="#">长白山徒步旅行开团啦！</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <img src="__PUBLIC__/Home/images/msqure/job.png" class="pull-left" />
            <div class="act-h">
                <p>找job、兼职</p>
                <ul>
                    <li><a href="">西北大学硕士生招女友</a></li>
                    <li><a href="#">成都游招同伴</a></li>
                    <li><a href="#">长白山徒步旅行开团啦！</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
        <img src="__PUBLIC__/Home/images/msqure/other.png" class="pull-left" />
            <div class="act-h">
                <p>邻里互助</p>
                <ul>
                    <li><a href="#">西北大学硕士生招女友</a></li>
                    <li><a href="#">成都游招同伴</a></li>
                    <li><a href="#">长白山徒步旅行开团啦！</a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div id="msqure-i">
        <div class="container">
        <p class="msqure-p">小区资讯</p>
            <div class="row">
                <div class="col-md-8">
                    <div class="container-fluid msqure-img">
                        <div class="row msqure-info">
                            <div class="media">
                                <div class="media-left">
                                    <img src="__PUBLIC__/Home/images/book.jpg"/>
                                </div>
                                <div class="media-body">
                                    <h4><a href="#">苹果iPhone 7发布啦</a></h4>
                                    <p>北京时间9月8日凌晨，苹果召开新品发布会，iPhone 7和iPhone 7 Plus正式登台亮相，9月9日开启预约，9月16日正式开卖，国行价格5388元起，首批仍然包括中国市场，除此之外，第二代Apple Watch也揭开面纱，售价369美元（约合人民币2457元）。发布会后我们第一时间体验到了两款新iPhone，详情参见《iPhone 7体验： 任性的苹果改变了用户体验》。</p>
                                    <p>2016-09-07 tubuzhe</p>
                                </div>
                            </div>
                        </div>
                        <div class="row msqure-info">
                            <div class="media">
                                <div class="media-left">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" class="img-response"/>
                                </div>
                                <div class="media-body">
                                    <h4><a href="#">吃货大全</a></h4>
                                    <p>来说说涵哥多年的好搭档，何炅何老师投资的餐厅，何老师的人缘关系大家都知道了解，更何况这家店不止装修非常的有档次、有格调，而且菜品不管是外形还是口味都是大写的赞！并且据坊间传闻这里经常可以遇见湖南卫视主持人，和娱乐圈内人，大概是大家都来捧炅炅的场吧~这么一说岂不是吃饭就有可能看到明星了</p>
                                    <p>2016-09-07 dashen</p>
                                </div>
                            </div>
                        </div>
                        <div class="row msqure-info">
                            <div class="media">
                                <div class="media-left">
                                    <img src="__PUBLIC__/Home/images/book.jpg"/>
                                </div>
                                <div class="media-body" >
                                    <h4><a href="#">中秋月饼大战</a></h4>
                                    <p>在错综复杂的美食界，没有最奇葩，只有更奇葩。临近中秋，美食界将要爆发一场惊天动地而又让人无力吐槽的大战，这场争霸战的荣耀主角就是：</p>
                                    <p>2016-09-07 xiaofeng </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="msqure-o">
                        <h5>曲苑杂坛</h5>
                        <ul>
                            <li><a href="">1. 美好的年华遇见美好的你们-...</a></li>
                            <li><a href="">2. 彩云之南...</a></li>
                            <li><a href="">3. 大豫网妹子真诚寻男友...</a></li>
                            <li><a href="">4. 长沙生态动物园游记...</a></li>
                            <li><a href="">5. 你说的等我毕业带我去流浪...</a></li>
                            <li><a href="">6. 来长沙去这几个地方保准没有错...</a></li>
                            <li><a href="">7. 夕阳最美...</a></li>
                            <li><a href="">8. 畅玩株洲方特童话梦幻世界...</a></li>
                            <li><a href="">9. 株洲萌妹陀带你吃遍成都美食-...</a></li>
                            <li style="text-align:right"><a href="">更多排行>> &nbsp;&nbsp;</a></li>
                        </ul>
                    </div>
                    <div class="msqure-o">
                        <h5>心灵鸡汤</h5>
                        <ul>
                            <li><a href="">1. 美好的年华遇见美好的你们-...</a></li>
                            <li><a href="">2. 彩云之南...</a></li>
                            <li><a href="">3. 大豫网妹子真诚寻男友...</a></li>
                            <li><a href="">4. 长沙生态动物园游记...</a></li>
                            <li><a href="">5. 你说的等我毕业带我去流浪...</a></li>
                            <li><a href="">6. 来长沙去这几个地方保准没有错...</a></li>
                            <li><a href="">7. 夕阳最美...</a></li>
                            <li><a href="">8. 畅玩株洲方特童话梦幻世界...</a></li>
                            <li><a href="">9. 株洲萌妹陀带你吃遍成都美食-...</a></li>
                            <li style="text-align:right"><a href="">更多排行>> &nbsp;&nbsp;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="msqure-bank">
        <div class="container">
        <p class="msqure-p">小区看天下</p>
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                  <ul class="nav nav-sidebar">
                    <li ><a href="#"><i class="glyphicon glyphicon-heart"></i> 推荐</a></li>
                    <li ><a href="#"><i class="glyphicon glyphicon-fire"></i> 热点</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i> 社会</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-info-sign"></i> 财经</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-screenshot"></i> 科技</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-home"></i> 段子</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-forward"></i> 视频</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-book"></i> 文学</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-music"></i> 音乐</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-film"></i> 电影</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-paperclip"></i> 其他</a></li>
                  </ul>
                </div>
                <div class="col-md-7">
                    <div class="media msqure-soci">
                        <div class="media-left">
                            <a href="#mserver"><img src="__PUBLIC__/Home/images/msqure/new2.jpg"/></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">喜迎中秋,华厦眼科中秋盛典即将启幕! </h4>
                            <p class="media-text"> 第一财经 - 390评论 - 21分钟前</p>
                        </div>
                    </div>
                    <div class="media msqure-soci">
                        <div class="media-left">
                            <a href="#mserver"><img src="__PUBLIC__/Home/images/msqure/new7.jpg"/></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">首次缺席！国防部：中方今年不派员参加首尔防务对话 </h4>
                            <p class="media-text"> 第一财经 - 390评论 - 21分钟前</p>
                        </div>
                    </div>
                    <div class="media msqure-soci">
                        <div class="media-left">
                            <a href="#mserver"><img src="__PUBLIC__/Home/images/msqure/new5.jpg"/></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">苹果iPhone7发布会上，这三个槽点只字未提 </h4>
                            <p class="media-text"> 钛媒体 - 397评论 - 21分钟前</p>
                        </div>
                    </div>
                    <div class="media msqure-soci">
                        <div class="media-left">
                            <a href="#mserver"><img src="__PUBLIC__/Home/images/msqure/new1.jpg"/></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">2016你想不想赚钱？加盟开店吸金，引爆钱潮！</h4>
                            <p class="media-text">一扫光食品加盟 - 43分钟前</p>
                        </div>
                    </div>
                    <div class="media msqure-soci">
                        <div class="media-left">
                            <a href="#mserver"><img src="__PUBLIC__/Home/images/msqure/new4.jpg"/></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">拿掉假体后的郑爽美回来了，可还是因自卑《微微》发布会全程低头 </h4>
                            <p class="media-text">深圳晚报 - 147评论 - 10分钟前</p>
                        </div>
                    </div>
                    <div class="media msqure-soci">
                        <div class="media-left">
                            <a href="#mserver"><img src="__PUBLIC__/Home/images/msqure/new6.jpg"/></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">8张图教你看懂苹果iphone7plus所有新功能亮点与售价  </h4>
                            <p class="media-text">科技号外 - 147评论 - 1小时前</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="__PUBLIC__/Home/images/msqure/car.jpg"/>
                    <div class="msqure-hot">
                        <h5>今日荐书</h5>
                        <ul>
                            <li>
                                <span class="num-p">1</span>
                                <a href="" ><img src="__PUBLIC__/Home/images/msqure/renleijiansi.jpg" /></a>
                                <p class="bookname active">《人类简史》</p>
                                <p class="bookprice">价格: $23.6</p>
                                <p class="book-p " style="font-size:10px">人民出版社</p>
                            </li>
                            <li><span class="num-p">2</span>
                                <a href=""><img src=" __PUBLIC__/Home/images/msqure/tianyi.jpg" /></a>
                                <p class="bookname active">《天意》</p>
                                <p class="bookprice">价格: $50.2</p>
                                <p class="book-p " style="font-size:10px;"> 图灵出版社</p>

                            </li>
                            <li><span class="num-p">3</span>
                                <a href=""><img src="__PUBLIC__/Home/images/msqure/quanqiutongshi.jpg" style="display:none;"/><span class="bookname">全球通史</span></a>

                            </li>
                            <li><span class="num-p">4</span>
                                <a href=""><img src="__PUBLIC__/Home/images/msqure/zizaiduxing.jpg" style="display:none;"/><span class="bookname">自在独行</span></a>

                            </li>
                            <li><span class="num-p">5</span>
                                <a href=""><img src="__PUBLIC__/Home/images/msqure/yelusal.jpg" style="display:none;"/><span class="bookname">耶路撒冷三千年</span></a>

                            </li>
                            <li><span class="num-p">6</span>
                                <a href=""><img src="__PUBLIC__/Home/images/msqure/wenhuakulv.jpg" style="display:none;"/><span class="bookname">文化苦旅</span></a>

                            </li>
                            <li><span class="num-p">7</span>
                                <a href=""><img src="__PUBLIC__/Home/images/msqure/weiwei.jpg" style="display:none;"/><span class="bookname">微微一笑很倾城</span></a>

                            </li>
                            <li ><span class="num-p">8</span>
                                <a href=""><img src="__PUBLIC__/Home/images/msqure/renleijiansi.jpg" style="display:none;"/><span class="bookname">人类简史</span></a>

                            </li>
                            <li style="text-align:right"><a href="">更多>> &nbsp;&nbsp;</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<block name="footer">
     <footer id="footer">
        <div class="container">
            <p>Super-powered by Google ©2010-2016</p>
            <p>芒果社区版权所有 如有需要请email至spicahuhu@163.com</p>
        </div>
    </footer>
</block>