<extend name="Layout:shopheader"/>

<block name="shopcontent">

<div class="header-search">
    <div class="container">
        <div class="row">
            <div class="col-md-3 header-logo">
                <img src="__PUBLIC__/Home/images/mshop/logo.png" width="96px;"/>
                <h4 class="logo-p">社区商场</h4>
                <h4 class="logo-p logo-l">MGSHOP.COM</h4>
                <p class="logo-p logo-d">深圳市</p>
            </div>
            <div class="col-md-7 search-h">
                <div class="input-group input-group-lg" >
                    <input type="text" class="form-control" placeholder="请输入商品名称" style="border:2px solid red;background-color:transparent;border-radius:10px 0 0 10px;">
                    <span class="input-group-addon" style="background-color:red;color:white;">搜索</span>
                </div>
            </div>
            <div class="col-md-2 search-h header-s">
                <p class="logo-d">家门口的商城</p>
                <p class="logo-d">自控管理</p>
            </div>
        </div>
    </div>
</div>
<div class="row toolbar">
    <ul class="f1">
        <li class="act"><a href="#">全部分类</a></li>
        <li><a href="#">今日特卖</a></li>
    </ul>
</div>
<hr style="height:1px;border:none;border-top:3px solid red;margin:0">

<!-- 分类 -->
<div id="left-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="container-fluid cate-s">
                    <div class="row ">
                        <dl class="cate-dl">
                            <dt>美食</dt>
                            <dd>小零食，生鲜，外卖</dd>
                        </dl>
                        <dl class="cate-dl">
                            <dt>休闲娱乐</dt>
                            <dd>KTV/，足疗美容</dd>
                        </dl>
                         <dl class="cate-dl">
                            <dt>家居</dt>
                            <dd>家用小设备</dd>
                        </dl>
                        <dl class="cate-dl">
                            <dt>书吧</dt>
                            <dd>咖啡厅/茶室</dd>
                        </dl>
                        <dl class="cate-dl">
                            <dt>购物</dt>
                            <dd>男装/女装/鞋/包</dd>
                        </dl>
                        <dl class="cate-dl">
                            <dt>其他</dt>
                            <dd>小玩意</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-7 cate-banner">
                <div id="mycarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#mycarousel" data-slide-to="1"></li>
                        <li data-target="#mycarousel" data-slide-to="2"></li>
                        <li data-target="#mycarousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active" style="background:#CDCCC8"><img src="__PUBLIC__/Home/images/33.jpg" /></div>
                        <div class="item" style="background:#000000"><img src="__PUBLIC__/Home/images/p-img-1.jpg"/></div>
                        <div class="item " style="background:"><img src="__PUBLIC__/Home/images/tree.jpg" /></div>
                        <div class="item " style="background:#07102F"><img src="__PUBLIC__/Home/images/stars3.jpg" /></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cate-act">
                    <h4><a href="#">中秋摄影活动大放送</a></h4>
                    <p><a href="#">爱丽丝摄影祝芒果小区中秋快乐，拍团圆照，或团圆月饼券</a></p>
                </div>
                <div class="cate-act">
                    <h4><a href="#">湘南菜馆开业啦</a></h4>
                    <p><a href="#">爱丽丝摄影祝芒果小区中秋快乐，拍团圆照，或团圆月饼券</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!---商品详情-->
<div id="good" class="row">
    <div class="good-food">
        <div class="cate-food">
        <h4><span class="glyphicon glyphicon-cutlery"></span> 美食</h4>
        </div>
        <div class="food-c">
            <ul class="good-ful">
                <li class="" gtype="1" g_type="1" re="" id="76472395">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=76472395" class="pic-img" target="_blank" data-value="goods#1_1">
                            <img style="display: inline;" class="img-responsive" alt="TEMIX美甲胶套装送灯" src="//s2.juancdn.com/bao/160913/7/d/57d76b16151ad18e688b45ee_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160913/7/d/57d76b16151ad18e688b45ee_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg">
                        </a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=76472395" target="_blank">TEMIX美甲胶套装送灯</a>
                        <p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>20</span>
                        <span class="des-other"><strong></strong><span style="" class="price-old"><em>￥</em>24.9</span><span class="discount">(<em>8.0</em>折)</span>
                        </span>
                        <div class="buy">
                            <span>已售12</span>
                        </div>
                    </div>
                    <a class="y-like my-like" data-gid="76472395" data-gtype="1" lkid="76472395" lks="1" gtype="1" title="加入收藏"><i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i></a>
                </div>
                </li>

                <li class="" gtype="1" g_type="1" re="" id="79372255">
                <div class="list-good buy">
                <div class="good-pic">
                    <a href="http://www.juanpi.com/click/?id=79372255" class="pic-img" target="_blank" data-value="goods#1_2">
                    <img style="display: inline;" class="img-responsive" alt="经典菱格纹长款钱包" src="//s2.juancdn.com/bao/160912/0/a/57d60d13151ad1b77b8b45fb_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160912/0/a/57d60d13151ad1b77b8b45fb_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"></a>
                </div>
                <h5 class="good-title">
                    [包邮]<a href="http://www.juanpi.com/click/?id=79372255" target="_blank">经典菱格纹长款钱包</a>
                    <p class="sold"> 剩6天</p>
                </h5>
                <div class="good-price">
                    <span style="" class="price-current"><em>￥</em>39</span>
                    <span class="des-other"><strong><em class="icon-gai">拍下改价</em></strong><span style="" class="price-old"><em>￥</em>130</span><span class="discount">(<em>3.0</em>折)</span>
                    </span>
                    <div class="buy">
                       <span>已售23</span>
                    </div>
                </div>

                <a class="y-like my-like" data-gid="79372255" data-gtype="1" lkid="79372255" lks="1" gtype="1" title="加入收藏"><i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                </a>
                </div>
                </li>
                <li class="" gtype="1" g_type="1" re="" id="70862565">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=70862565" class="pic-img" target="_blank" data-value="goods#1_3">
                            <img style="display: inline;" class="img-responsive" alt="2016新款男童格子衬衫" src="//s2.juancdn.com/bao/160909/a/3/57d20af9151ad1c9128b459d_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160909/a/3/57d20af9151ad1c9128b459d_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg">
                        </a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=70862565" target="_blank">2016新款男童格子衬衫</a>
                        <p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>29.9</span>
                        <span class="des-other"><strong></strong><span style="" class="price-old"><em>￥</em>49.9</span><span class="discount">(<em>6.0</em>折)</span>
                        </span>
                         <div class="buy">
                           <span>已售56</span>
                        </div>
                    </div>
                    <!-- like -->
                    <a class="y-like my-like" data-gid="70862565" data-gtype="1" lkid="70862565" lks="1" gtype="1" title="加入收藏">
                        <i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                    </a>

                </div>
            </li>

            <li class="" gtype="1" g_type="1" re="" id="77862565">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=77862565" class="pic-img" target="_blank" data-value="goods#1_4">
                        <img style="display: inline;" class="img-responsive" alt="新款男女宝宝天马甲" src="//s2.juancdn.com/bao/160909/e/1/57d209ba151ad1c1368b4599_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160909/e/1/57d209ba151ad1c1368b4599_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"></a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=77862565" target="_blank">新款男女宝宝天马甲</a><p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>12.9</span>
                        <span class="des-other"><strong><em class="icon-gai">拍下改价</em></strong><span style="" class="price-old"><em>￥</em>59</span> <span class="discount">(<em>2.2</em>折)</span>
                        </span>
                        <div class="buy">
                            <span>已售1203</span>
                        </div>
                    </div>
                        <!-- like -->
                    <a class="y-like my-like" data-gid="77862565" data-gtype="1" lkid="77862565" lks="1" gtype="1" title="加入收藏">
                        <i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                    </a>
                </div>
            </li>

            </ul>
        </div>
    </div>
   <div class="good-food">
        <div class="cate-food">
        <h4><span class="glyphicon glyphicon-cutlery"></span> 休闲娱乐</h4>
        </div>
        <div class="food-c">
            <ul class="good-ful">
                <li class="" gtype="1" g_type="1" re="" id="76472395">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=76472395" class="pic-img" target="_blank" data-value="goods#1_1">
                            <img style="display: inline;" class="img-responsive" alt="TEMIX美甲胶套装送灯" src="//s2.juancdn.com/bao/160913/7/d/57d76b16151ad18e688b45ee_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160913/7/d/57d76b16151ad18e688b45ee_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg">
                        </a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=76472395" target="_blank">TEMIX美甲胶套装送灯</a>
                        <p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>20</span>
                        <span class="des-other"><strong></strong><span style="" class="price-old"><em>￥</em>24.9</span><span class="discount">(<em>8.0</em>折)</span>
                        </span>
                        <div class="buy">
                            <span>已售12</span>
                        </div>
                    </div>
                    <a class="y-like my-like" data-gid="76472395" data-gtype="1" lkid="76472395" lks="1" gtype="1" title="加入收藏"><i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i></a>
                </div>
                </li>

                <li class="" gtype="1" g_type="1" re="" id="79372255">
                <div class="list-good buy">
                <div class="good-pic">
                    <a href="http://www.juanpi.com/click/?id=79372255" class="pic-img" target="_blank" data-value="goods#1_2">
                    <img style="display: inline;" class="img-responsive" alt="经典菱格纹长款钱包" src="//s2.juancdn.com/bao/160912/0/a/57d60d13151ad1b77b8b45fb_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160912/0/a/57d60d13151ad1b77b8b45fb_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"></a>
                </div>
                <h5 class="good-title">
                    [包邮]<a href="http://www.juanpi.com/click/?id=79372255" target="_blank">经典菱格纹长款钱包</a>
                    <p class="sold"> 剩6天</p>
                </h5>
                <div class="good-price">
                    <span style="" class="price-current"><em>￥</em>39</span>
                    <span class="des-other"><strong><em class="icon-gai">拍下改价</em></strong><span style="" class="price-old"><em>￥</em>130</span><span class="discount">(<em>3.0</em>折)</span>
                    </span>
                    <div class="buy">
                       <span>已售23</span>
                    </div>
                </div>

                <a class="y-like my-like" data-gid="79372255" data-gtype="1" lkid="79372255" lks="1" gtype="1" title="加入收藏"><i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                </a>
                </div>
                </li>
                <li class="" gtype="1" g_type="1" re="" id="70862565">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=70862565" class="pic-img" target="_blank" data-value="goods#1_3">
                            <img style="display: inline;" class="img-responsive" alt="2016新款男童格子衬衫" src="//s2.juancdn.com/bao/160909/a/3/57d20af9151ad1c9128b459d_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160909/a/3/57d20af9151ad1c9128b459d_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg">
                        </a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=70862565" target="_blank">2016新款男童格子衬衫</a>
                        <p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>29.9</span>
                        <span class="des-other"><strong></strong><span style="" class="price-old"><em>￥</em>49.9</span><span class="discount">(<em>6.0</em>折)</span>
                        </span>
                         <div class="buy">
                           <span>已售56</span>
                        </div>
                    </div>
                    <!-- like -->
                    <a class="y-like my-like" data-gid="70862565" data-gtype="1" lkid="70862565" lks="1" gtype="1" title="加入收藏">
                        <i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                    </a>

                </div>
            </li>

            <li class="" gtype="1" g_type="1" re="" id="77862565">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=77862565" class="pic-img" target="_blank" data-value="goods#1_4">
                        <img style="display: inline;" class="img-responsive" alt="新款男女宝宝天马甲" src="//s2.juancdn.com/bao/160909/e/1/57d209ba151ad1c1368b4599_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160909/e/1/57d209ba151ad1c1368b4599_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"></a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=77862565" target="_blank">新款男女宝宝天马甲</a><p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>12.9</span>
                        <span class="des-other"><strong><em class="icon-gai">拍下改价</em></strong><span style="" class="price-old"><em>￥</em>59</span> <span class="discount">(<em>2.2</em>折)</span>
                        </span>
                        <div class="buy">
                            <span>已售1203</span>
                        </div>
                    </div>
                        <!-- like -->
                    <a class="y-like my-like" data-gid="77862565" data-gtype="1" lkid="77862565" lks="1" gtype="1" title="加入收藏">
                        <i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                    </a>
                </div>
            </li>

            </ul>
        </div>
    </div>
    <div class="good-food">
        <div class="cate-food">
        <h4><span class="glyphicon glyphicon-cutlery"></span> 家居</h4>
        </div>
        <div class="food-c">
            <ul class="good-ful">
                <li class="" gtype="1" g_type="1" re="" id="76472395">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=76472395" class="pic-img" target="_blank" data-value="goods#1_1">
                            <img style="display: inline;" class="img-responsive" alt="TEMIX美甲胶套装送灯" src="//s2.juancdn.com/bao/160913/7/d/57d76b16151ad18e688b45ee_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160913/7/d/57d76b16151ad18e688b45ee_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg">
                        </a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=76472395" target="_blank">TEMIX美甲胶套装送灯</a>
                        <p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>20</span>
                        <span class="des-other"><strong></strong><span style="" class="price-old"><em>￥</em>24.9</span><span class="discount">(<em>8.0</em>折)</span>
                        </span>
                        <div class="buy">
                            <span>已售12</span>
                        </div>
                    </div>
                    <a class="y-like my-like" data-gid="76472395" data-gtype="1" lkid="76472395" lks="1" gtype="1" title="加入收藏"><i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i></a>
                </div>
                </li>

                <li class="" gtype="1" g_type="1" re="" id="79372255">
                <div class="list-good buy">
                <div class="good-pic">
                    <a href="http://www.juanpi.com/click/?id=79372255" class="pic-img" target="_blank" data-value="goods#1_2">
                    <img style="display: inline;" class="img-responsive" alt="经典菱格纹长款钱包" src="//s2.juancdn.com/bao/160912/0/a/57d60d13151ad1b77b8b45fb_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160912/0/a/57d60d13151ad1b77b8b45fb_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"></a>
                </div>
                <h5 class="good-title">
                    [包邮]<a href="http://www.juanpi.com/click/?id=79372255" target="_blank">经典菱格纹长款钱包</a>
                    <p class="sold"> 剩6天</p>
                </h5>
                <div class="good-price">
                    <span style="" class="price-current"><em>￥</em>39</span>
                    <span class="des-other"><strong><em class="icon-gai">拍下改价</em></strong><span style="" class="price-old"><em>￥</em>130</span><span class="discount">(<em>3.0</em>折)</span>
                    </span>
                    <div class="buy">
                       <span>已售23</span>
                    </div>
                </div>

                <a class="y-like my-like" data-gid="79372255" data-gtype="1" lkid="79372255" lks="1" gtype="1" title="加入收藏"><i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                </a>
                </div>
                </li>
                <li class="" gtype="1" g_type="1" re="" id="70862565">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=70862565" class="pic-img" target="_blank" data-value="goods#1_3">
                            <img style="display: inline;" class="img-responsive" alt="2016新款男童格子衬衫" src="//s2.juancdn.com/bao/160909/a/3/57d20af9151ad1c9128b459d_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160909/a/3/57d20af9151ad1c9128b459d_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg">
                        </a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=70862565" target="_blank">2016新款男童格子衬衫</a>
                        <p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>29.9</span>
                        <span class="des-other"><strong></strong><span style="" class="price-old"><em>￥</em>49.9</span><span class="discount">(<em>6.0</em>折)</span>
                        </span>
                         <div class="buy">
                           <span>已售56</span>
                        </div>
                    </div>
                    <!-- like -->
                    <a class="y-like my-like" data-gid="70862565" data-gtype="1" lkid="70862565" lks="1" gtype="1" title="加入收藏">
                        <i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                    </a>

                </div>
            </li>

            <li class="" gtype="1" g_type="1" re="" id="77862565">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=77862565" class="pic-img" target="_blank" data-value="goods#1_4">
                        <img style="display: inline;" class="img-responsive" alt="新款男女宝宝天马甲" src="//s2.juancdn.com/bao/160909/e/1/57d209ba151ad1c1368b4599_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160909/e/1/57d209ba151ad1c1368b4599_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"></a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=77862565" target="_blank">新款男女宝宝天马甲</a><p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>12.9</span>
                        <span class="des-other"><strong><em class="icon-gai">拍下改价</em></strong><span style="" class="price-old"><em>￥</em>59</span> <span class="discount">(<em>2.2</em>折)</span>
                        </span>
                        <div class="buy">
                            <span>已售1203</span>
                        </div>
                    </div>
                        <!-- like -->
                    <a class="y-like my-like" data-gid="77862565" data-gtype="1" lkid="77862565" lks="1" gtype="1" title="加入收藏">
                        <i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                    </a>
                </div>
            </li>

            </ul>
        </div>
    </div>
    <div class="good-food">
        <div class="cate-food">
        <h4><span class="glyphicon glyphicon-cutlery"></span> 书吧</h4>
        </div>
        <div class="food-c">
            <ul class="good-ful">
                <li class="" gtype="1" g_type="1" re="" id="76472395">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=76472395" class="pic-img" target="_blank" data-value="goods#1_1">
                            <img style="display: inline;" class="img-responsive" alt="TEMIX美甲胶套装送灯" src="//s2.juancdn.com/bao/160913/7/d/57d76b16151ad18e688b45ee_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160913/7/d/57d76b16151ad18e688b45ee_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg">
                        </a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=76472395" target="_blank">TEMIX美甲胶套装送灯</a>
                        <p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>20</span>
                        <span class="des-other"><strong></strong><span style="" class="price-old"><em>￥</em>24.9</span><span class="discount">(<em>8.0</em>折)</span>
                        </span>
                        <div class="buy">
                            <span>已售12</span>
                        </div>
                    </div>
                    <a class="y-like my-like" data-gid="76472395" data-gtype="1" lkid="76472395" lks="1" gtype="1" title="加入收藏"><i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i></a>
                </div>
                </li>

                <li class="" gtype="1" g_type="1" re="" id="79372255">
                <div class="list-good buy">
                <div class="good-pic">
                    <a href="http://www.juanpi.com/click/?id=79372255" class="pic-img" target="_blank" data-value="goods#1_2">
                    <img style="display: inline;" class="img-responsive" alt="经典菱格纹长款钱包" src="//s2.juancdn.com/bao/160912/0/a/57d60d13151ad1b77b8b45fb_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160912/0/a/57d60d13151ad1b77b8b45fb_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"></a>
                </div>
                <h5 class="good-title">
                    [包邮]<a href="http://www.juanpi.com/click/?id=79372255" target="_blank">经典菱格纹长款钱包</a>
                    <p class="sold"> 剩6天</p>
                </h5>
                <div class="good-price">
                    <span style="" class="price-current"><em>￥</em>39</span>
                    <span class="des-other"><strong><em class="icon-gai">拍下改价</em></strong><span style="" class="price-old"><em>￥</em>130</span><span class="discount">(<em>3.0</em>折)</span>
                    </span>
                    <div class="buy">
                       <span>已售23</span>
                    </div>
                </div>

                <a class="y-like my-like" data-gid="79372255" data-gtype="1" lkid="79372255" lks="1" gtype="1" title="加入收藏"><i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                </a>
                </div>
                </li>
                <li class="" gtype="1" g_type="1" re="" id="70862565">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=70862565" class="pic-img" target="_blank" data-value="goods#1_3">
                            <img style="display: inline;" class="img-responsive" alt="2016新款男童格子衬衫" src="//s2.juancdn.com/bao/160909/a/3/57d20af9151ad1c9128b459d_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160909/a/3/57d20af9151ad1c9128b459d_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg">
                        </a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=70862565" target="_blank">2016新款男童格子衬衫</a>
                        <p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>29.9</span>
                        <span class="des-other"><strong></strong><span style="" class="price-old"><em>￥</em>49.9</span><span class="discount">(<em>6.0</em>折)</span>
                        </span>
                         <div class="buy">
                           <span>已售56</span>
                        </div>
                    </div>
                    <!-- like -->
                    <a class="y-like my-like" data-gid="70862565" data-gtype="1" lkid="70862565" lks="1" gtype="1" title="加入收藏">
                        <i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                    </a>

                </div>
            </li>

            <li class="" gtype="1" g_type="1" re="" id="77862565">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=77862565" class="pic-img" target="_blank" data-value="goods#1_4">
                        <img style="display: inline;" class="img-responsive" alt="新款男女宝宝天马甲" src="//s2.juancdn.com/bao/160909/e/1/57d209ba151ad1c1368b4599_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160909/e/1/57d209ba151ad1c1368b4599_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"></a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=77862565" target="_blank">新款男女宝宝天马甲</a><p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>12.9</span>
                        <span class="des-other"><strong><em class="icon-gai">拍下改价</em></strong><span style="" class="price-old"><em>￥</em>59</span> <span class="discount">(<em>2.2</em>折)</span>
                        </span>
                        <div class="buy">
                            <span>已售1203</span>
                        </div>
                    </div>
                        <!-- like -->
                    <a class="y-like my-like" data-gid="77862565" data-gtype="1" lkid="77862565" lks="1" gtype="1" title="加入收藏">
                        <i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                    </a>
                </div>
            </li>

            </ul>
        </div>
    </div>
    <div class="good-food">
        <div class="cate-food">
        <h4><span class="glyphicon glyphicon-cutlery"></span> 购物</h4>
        </div>
        <div class="food-c">
            <ul class="good-ful">
                <li class="" gtype="1" g_type="1" re="" id="76472395">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=76472395" class="pic-img" target="_blank" data-value="goods#1_1">
                            <img style="display: inline;" class="img-responsive" alt="TEMIX美甲胶套装送灯" src="//s2.juancdn.com/bao/160913/7/d/57d76b16151ad18e688b45ee_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160913/7/d/57d76b16151ad18e688b45ee_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg">
                        </a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=76472395" target="_blank">TEMIX美甲胶套装送灯</a>
                        <p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>20</span>
                        <span class="des-other"><strong></strong><span style="" class="price-old"><em>￥</em>24.9</span><span class="discount">(<em>8.0</em>折)</span>
                        </span>
                        <div class="buy">
                            <span>已售12</span>
                        </div>
                    </div>
                    <a class="y-like my-like" data-gid="76472395" data-gtype="1" lkid="76472395" lks="1" gtype="1" title="加入收藏"><i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i></a>
                </div>
                </li>

                <li class="" gtype="1" g_type="1" re="" id="79372255">
                <div class="list-good buy">
                <div class="good-pic">
                    <a href="http://www.juanpi.com/click/?id=79372255" class="pic-img" target="_blank" data-value="goods#1_2">
                    <img style="display: inline;" class="img-responsive" alt="经典菱格纹长款钱包" src="//s2.juancdn.com/bao/160912/0/a/57d60d13151ad1b77b8b45fb_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160912/0/a/57d60d13151ad1b77b8b45fb_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"></a>
                </div>
                <h5 class="good-title">
                    [包邮]<a href="http://www.juanpi.com/click/?id=79372255" target="_blank">经典菱格纹长款钱包</a>
                    <p class="sold"> 剩6天</p>
                </h5>
                <div class="good-price">
                    <span style="" class="price-current"><em>￥</em>39</span>
                    <span class="des-other"><strong><em class="icon-gai">拍下改价</em></strong><span style="" class="price-old"><em>￥</em>130</span><span class="discount">(<em>3.0</em>折)</span>
                    </span>
                    <div class="buy">
                       <span>已售23</span>
                    </div>
                </div>

                <a class="y-like my-like" data-gid="79372255" data-gtype="1" lkid="79372255" lks="1" gtype="1" title="加入收藏"><i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                </a>
                </div>
                </li>
                <li class="" gtype="1" g_type="1" re="" id="70862565">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=70862565" class="pic-img" target="_blank" data-value="goods#1_3">
                            <img style="display: inline;" class="img-responsive" alt="2016新款男童格子衬衫" src="//s2.juancdn.com/bao/160909/a/3/57d20af9151ad1c9128b459d_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160909/a/3/57d20af9151ad1c9128b459d_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg">
                        </a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=70862565" target="_blank">2016新款男童格子衬衫</a>
                        <p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>29.9</span>
                        <span class="des-other"><strong></strong><span style="" class="price-old"><em>￥</em>49.9</span><span class="discount">(<em>6.0</em>折)</span>
                        </span>
                         <div class="buy">
                           <span>已售56</span>
                        </div>
                    </div>
                    <!-- like -->
                    <a class="y-like my-like" data-gid="70862565" data-gtype="1" lkid="70862565" lks="1" gtype="1" title="加入收藏">
                        <i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                    </a>

                </div>
            </li>

            <li class="" gtype="1" g_type="1" re="" id="77862565">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=77862565" class="pic-img" target="_blank" data-value="goods#1_4">
                        <img style="display: inline;" class="img-responsive" alt="新款男女宝宝天马甲" src="//s2.juancdn.com/bao/160909/e/1/57d209ba151ad1c1368b4599_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160909/e/1/57d209ba151ad1c1368b4599_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"></a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=77862565" target="_blank">新款男女宝宝天马甲</a><p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>12.9</span>
                        <span class="des-other"><strong><em class="icon-gai">拍下改价</em></strong><span style="" class="price-old"><em>￥</em>59</span> <span class="discount">(<em>2.2</em>折)</span>
                        </span>
                        <div class="buy">
                            <span>已售1203</span>
                        </div>
                    </div>
                        <!-- like -->
                    <a class="y-like my-like" data-gid="77862565" data-gtype="1" lkid="77862565" lks="1" gtype="1" title="加入收藏">
                        <i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                    </a>
                </div>
            </li>

            </ul>
        </div>
    </div>
    <div class="good-food">
        <div class="cate-food">
        <h4><span class="glyphicon glyphicon-cutlery"></span> 其他</h4>
        </div>
        <div class="food-c">
            <ul class="good-ful">
                <li class="" gtype="1" g_type="1" re="" id="76472395">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=76472395" class="pic-img" target="_blank" data-value="goods#1_1">
                            <img style="display: inline;" class="img-responsive" alt="TEMIX美甲胶套装送灯" src="//s2.juancdn.com/bao/160913/7/d/57d76b16151ad18e688b45ee_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160913/7/d/57d76b16151ad18e688b45ee_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg">
                        </a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=76472395" target="_blank">TEMIX美甲胶套装送灯</a>
                        <p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>20</span>
                        <span class="des-other"><strong></strong><span style="" class="price-old"><em>￥</em>24.9</span><span class="discount">(<em>8.0</em>折)</span>
                        </span>
                        <div class="buy">
                            <span>已售12</span>
                        </div>
                    </div>
                    <a class="y-like my-like" data-gid="76472395" data-gtype="1" lkid="76472395" lks="1" gtype="1" title="加入收藏"><i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i></a>
                </div>
                </li>

                <li class="" gtype="1" g_type="1" re="" id="79372255">
                <div class="list-good buy">
                <div class="good-pic">
                    <a href="http://www.juanpi.com/click/?id=79372255" class="pic-img" target="_blank" data-value="goods#1_2">
                    <img style="display: inline;" class="img-responsive" alt="经典菱格纹长款钱包" src="//s2.juancdn.com/bao/160912/0/a/57d60d13151ad1b77b8b45fb_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160912/0/a/57d60d13151ad1b77b8b45fb_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"></a>
                </div>
                <h5 class="good-title">
                    [包邮]<a href="http://www.juanpi.com/click/?id=79372255" target="_blank">经典菱格纹长款钱包</a>
                    <p class="sold"> 剩6天</p>
                </h5>
                <div class="good-price">
                    <span style="" class="price-current"><em>￥</em>39</span>
                    <span class="des-other"><strong><em class="icon-gai">拍下改价</em></strong><span style="" class="price-old"><em>￥</em>130</span><span class="discount">(<em>3.0</em>折)</span>
                    </span>
                    <div class="buy">
                       <span>已售23</span>
                    </div>
                </div>

                <a class="y-like my-like" data-gid="79372255" data-gtype="1" lkid="79372255" lks="1" gtype="1" title="加入收藏"><i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                </a>
                </div>
                </li>
                <li class="" gtype="1" g_type="1" re="" id="70862565">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=70862565" class="pic-img" target="_blank" data-value="goods#1_3">
                            <img style="display: inline;" class="img-responsive" alt="2016新款男童格子衬衫" src="//s2.juancdn.com/bao/160909/a/3/57d20af9151ad1c9128b459d_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160909/a/3/57d20af9151ad1c9128b459d_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg">
                        </a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=70862565" target="_blank">2016新款男童格子衬衫</a>
                        <p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>29.9</span>
                        <span class="des-other"><strong></strong><span style="" class="price-old"><em>￥</em>49.9</span><span class="discount">(<em>6.0</em>折)</span>
                        </span>
                         <div class="buy">
                           <span>已售56</span>
                        </div>
                    </div>
                    <!-- like -->
                    <a class="y-like my-like" data-gid="70862565" data-gtype="1" lkid="70862565" lks="1" gtype="1" title="加入收藏">
                        <i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                    </a>

                </div>
            </li>

            <li class="" gtype="1" g_type="1" re="" id="77862565">
                <div class="list-good buy">
                    <div class="good-pic">
                        <a href="http://www.juanpi.com/click/?id=77862565" class="pic-img" target="_blank" data-value="goods#1_4">
                        <img style="display: inline;" class="img-responsive" alt="新款男女宝宝天马甲" src="//s2.juancdn.com/bao/160909/e/1/57d209ba151ad1c1368b4599_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg" class="lazy" d-src="//s2.juancdn.com/bao/160909/e/1/57d209ba151ad1c1368b4599_400x400.jpg?iopcmd=thumbnail&amp;type=8&amp;width=285&amp;height=285%7Ciopcmd=convert&amp;Q=88&amp;dst=jpg"></a>
                    </div>
                    <h5 class="good-title">
                        [包邮]<a href="http://www.juanpi.com/click/?id=77862565" target="_blank">新款男女宝宝天马甲</a><p class="sold">剩6天</p>
                    </h5>
                    <div class="good-price">
                        <span style="" class="price-current"><em>￥</em>12.9</span>
                        <span class="des-other"><strong><em class="icon-gai">拍下改价</em></strong><span style="" class="price-old"><em>￥</em>59</span> <span class="discount">(<em>2.2</em>折)</span>
                        </span>
                        <div class="buy">
                            <span>已售1203</span>
                        </div>
                    </div>
                        <!-- like -->
                    <a class="y-like my-like" data-gid="77862565" data-gtype="1" lkid="77862565" lks="1" gtype="1" title="加入收藏">
                        <i class="like-ico"><span class="heart_left"></span><span class="heart_right"></span></i>
                    </a>
                </div>
            </li>

            </ul>
        </div>
    </div>

</div>
</block>